.cardOne {
    width: 120px; /* Ajuste o tamanho conforme necessário */
    height: 120px; /* Ajuste o tamanho conforme necessário */
    background-color: #fff; /* Cor de fundo cinza claro */
    border-radius: 10px; /* Cantos arredondados */
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* Sombra sutil para profundidade */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

.cardOne:hover .cardOne-icon {
    transform: scale(1.2); /* Aumenta o tamanho do ícone */
}

.cardOne-tag {
    color: #fff;
    padding: 5px;
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
    background-color: #6c757d; /* Cor de fundo */
    position: absolute;
    top: 15px;
    left: 0; /* Coloca a tag colada na margem esquerda */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%); /* Forma personalizada com corte triangular no lado direito */
}

.cardOne-icon {
    color: #6c757d;
    font-size: 35px; /* Ajuste o tamanho conforme necessário */
    margin: 20px 0;
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

.cardOne-title {
    color: #6c757d;
    text-align: center;
    font-size: 14px;
    /* font-weight: bold; */
}